{% extends 'base.html' %}

{% block content %}

{% if error %}
    <div class="alert alert-danger m-4" role="alert" 
      <strong>Error!</strong> {{ error }}
    </div>
  {% endif %}

  <div class="container">
    <h1 class="mt-5 mb-4">Formulario de Registro</h1>
    <form method="post">
      {% csrf_token %}
      <div class="form-group mb-3">
        <label for="email">Correo electronico</label>
        <input type="email" class="form-control" id="email" name="email" required autofocus placeholder="Ingresa tu correo electronico">
      </div>
      <div class="form-group mb-3">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password1" name="password1" required placeholder="Ingresa tu contraseña">
      </div>
      <div class="form-group mb-3">
        <label for="password2">Repetir contraseña</label>
        <input type="password" class="form-control" id="password2" name="password2" required placeholder="Repite tu contraseña">
      </div>
      <div class="form-group mb-3">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" required autofocus placeholder="Ingresa tu nombre">
      </div>
      <div class="form-group mb-3">
        <label for="last_name">Apellido</label>
        <input type="text" class="form-control" id="last_name" name="last_name" required autofocus placeholder="Ingresa tu apellido">
      </div>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>

  
  
  {% endblock %}